body {
  margin: 0;
  height: 2000px;
}
section {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_promotion_bg_251226.jpg);
  height: 578px;
  margin-top: 100px;
}
.photo {
  position: absolute;
  top: 90px;
  left: 24.8569%;
  animation: photo 2s ease-out infinite alternate;
}
.word {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;

  position: absolute;
  top: 350px;
  right: 24.8569%;
  animation: word 2s ease-out infinite alternate;
}

@keyframes photo {
  from {
    left: -25%;
  }
  to {
    left: 25%;
  }
}
@keyframes word {
  from {
    right: -25%;
  }
  to {
    right: 35%;
  }
}
.section2 {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2025/2026_new_year_pick_bg_251226.jpg);
  height: 578px;
  margin-top: 100px;
}
.cake {
    background-image: url();
}
