/BookGenre.class
/StarRecursive.class
/AnnotationMain.class
/Author.class
/Book.class
/BookMain.class
/Drink.class
/DrinkMain.class
/DrinkValidator.class
/MaxSugar.class
/Program.class
/Version.class
