/* -----------------------  ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}
/* ----------------------- Header ---------------------------- */
header {
  /* 메뉴 상단 고정 */
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* ----------------------- logo ---------------------------- */
.logo {
}
.logo h1 {
}
.logo a {
}
.logo .fa-bars {
  /* 컴퓨터 화면(default)에서 보이지 않게 함 */
  display: none;
  /* opacity: 0; */
}
.logo span {
}
/* ----------------------- 메인 메뉴바 ---------------------------- */
.navbar {
  /* 작은화면에서는 안보임 */
  display: none;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar li {
  padding: 15px;
}
.navbar a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}
.navbar a:hover {
  color: blue;
}
/* ----------------------- Main ---------------------------- */
main {
  background-color: coral;
  height: 1200px;
}
/* ----------------------- Container ---------------------------- */
.container {
  display: flex;
  justify-content:start;
  width:fit-content;
  flex-wrap: wrap;
  
  /* 카드 사이의 간격 */
  gap: 20px;             
  padding: 20px;
}
/* ----------------------- 각 그룹카드(폴더) ---------------------------- */
.group_card {
  min-width: 200px;        /* 너무 작아지지 않게 최소 너비 지정 */
  background-color: white;
  padding: 15px;
  border-radius: 8px
}
/* ----------------------- 그룹카드 내부 날짜(제목) ---------------------------- */
.date {
}
/* ----------------------- 그룹카드 내부 링크 리스트 ---------------------------- */
.group_card ul {
  /* 점 제거 */
  list-style: none;
}
.group_card li {
  /* li사이 간격 추가 */
  padding: 2px;
}
.group_card a {
  /* 밑줄 제거 */
  text-decoration: none;
}
.group_card a:hover{
  color: red;
}
/* ----------------------- Footer ---------------------------- */
footer {
  background-color: seagreen;
  height: 100px;
}
/* ----------------------- Top_btn ---------------------------- */
.top_btn {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 50px;
}
.top_btn:hover {
  background-color: white;
  color: black;
}
/* ----------------------- Variable Window ---------------------------- */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .navbar {
    display: block;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
  }
  .navbar a:hover {
    color: blue;
  }

}