*{
    margin: 0;
    padding: 0;
}
/* 헤더 시작 */
header{
    height: 70px;
    /* 블루보틀 로고와 메뉴네비게이션 가로로 */
    display: flex;
    /* 상하 중앙 */
    align-items: center;
}
a{
    /* 밑줄 없애기 */
    text-decoration: none;
    /* 글자 관련 */
    color: gray;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}