#wrap {
  /* border: 1px solid red; */
  /* 가운데오게끔 */
  margin: 0 auto;
  width: 100%;
  /* 최대범위 지정 */
  max-width: 1200px;
}
/* main{
    border: 1px solid red;
} */
.sec_tit {
  background-color: lightblue;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}
/* ----------------------- Header ---------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #222;

  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.logo a {
  color: #fff;
  font-size: 1.2rem;
  line-height: 60px;
  /* 위에서 space-around하면 안해도됨
    왼쪽에서 좀 떨어트리는거임
    */
  margin-left: 1rem;
}
/* 1번방법
.menu_toggle_btn{
    color: #fff;
    font-size: 25px;
    background: transparent;
    border: none;
} */
/* 2번방법 */
.menu_toggle_btn {
  width: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
.menu_toggle_btn span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}
/* Slider */
.slider {
  /* header의 height따라쓰면 딱 붙음 */
  margin-top: 60px;
}
.slider img {
  width: 100%;
  height: auto;
}
.container {
  /* border: 1px solid red; */
  width: 100%;
}
.sec_tit {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.desc {
  text-align: center;
  font-size: 1rem;
}
/* ----------------------- Promotion ---------------------------- */
.promo_list {
  margin-bottom: 1.5rem;
}
.promo_list a {
  /* border: 3px solid blue; */

  display: block;
  text-align: center;

  background-color: #f2f2f2;
}
.promo_list a h3 {
  color: #777;
  font-weight: 600;
}
.promo_list a p {
  color: #888;
  font-size: 0.8rem;
}
/* ----------------------- Work ---------------------------- */
.work_list a {
  display: block;
  background: #aaa;
  text-align: center;
  padding: 2rem;
}
