#wrap {
  /* border: 1px solid red; */
  /* 가운데오게끔 */
  margin: 0 auto;
  width: 100%;
  /* 최대범위 지정 */
  /* max-width: 1200px; */
}
/* main{
    border: 1px solid red;
} */
.sec_tit {
  background-color: lightblue;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}
/* ----------------------- Header ---------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #222;

  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.logo a {
  color: #fff;
  font-size: 1.2rem;
  line-height: 60px;
  /* 위에서 space-around하면 안해도됨
    왼쪽에서 좀 떨어트리는거임
    */
  margin-left: 1rem;
}
nav {
  display: none;
  background: #333;
  opacity: 0.9;
}
/* 자바 토글 이후 추가 내용 */
nav.is_opne{
  display: block;
}
.container {
  /* 부모 요소 안에서 가로 중앙에 배치합니다 */
  margin: 0 auto;
  
  /* 모바일 환경에서 양옆에 최소한의 여백을 줍니다 */
  padding: 0 20px;
  
  /* box-sizing을 설정하면 padding이 너비에 포함되어 계산이 편해집니다 */
  box-sizing: border-box;
}
/* .navbar{
    display: none;
} */
/* 1번방법
.menu_toggle_btn{
    color: #fff;
    font-size: 25px;
    background: transparent;
    border: none;
} */
/* 2번방법 */
.menu_toggle_btn {
  width: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
.menu_toggle_btn span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}
/* Slider */
.slider {
  /* header의 height따라쓰면 딱 붙음 */
  margin-top: 60px;
}
.slider img {
  width: 100%;
  height: auto;
}
.container {
  /* border: 1px solid red; */
  width: 100%;
}
.sec_tit {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.desc {
  text-align: center;
  font-size: 1rem;
}
/* ----------------------- Promotion ---------------------------- */
.promo_list {
  margin-bottom: 1.5rem;
}
.promo_list li {
  margin-bottom: 1.5rem;
}
.promo_list a {
  /* border: 3px solid blue; */

  display: block;
  text-align: center;

  background-color: #f2f2f2;
}
.promo_list a h3 {
  color: #777;
  font-weight: 600;
}
.promo_list a p {
  color: #888;
  font-size: 0.8rem;
}
/* ----------------------- Work ---------------------------- */
.work_list li {
  margin-bottom: 1.5rem;
}
.work_list a {
  display: block;
  background: #aaa;
  text-align: center;
  padding: 2rem;
}
.work_list li h3 {
  color: #777;
  font-weight: 600;
}
.work_list li span {
  color: #888;
  font-size: 0.8rem;
}
/* ----------------------- Blog ---------------------------- */
.blog_list li {
  margin-bottom: 1.5rem;
}
.blog_list h3 {
  font-size: 1rem;
  color: #777;
  font-weight: 600;
}
/* ----------------------- Contact ---------------------------- */
textarea {
  width: 100%;
  height: 120px;
  font-size: 2rem;
  padding: 1rem;
}
/* ----------------------- Footer ---------------------------- */
footer {
  font-size: 0.8rem;
  color: #888;
}
/* ----------------------- 태블릿 최소 768px ---------------------------- */
@media (min-width: 768px) {
  .promo_list,
  .work_list,
  .blog_list {
    display: flex;
    /* 자식 요소 너비가 부모 컨테이너의 너비를 초과할때 알아서 넘어가게 해준다 */
    /* no-wrap은 한 줄에 강제로 배치 */
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  .promo_list li,
  .work_list li{
    width: 48%;
  }
  .sec_tit {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .menu_toggle_btn {
    display: none;
  }
  /* .navbar {
    display: block;
  }
  .navbar ul {
    list-style: none;
    display: flex;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
  }
  .navbar a:hover {
    color: blue;
  } */
  nav {
    display: block;
    background: none;
  }
  nav ul {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  nav li {
    margin-left: 1.5rem;
  }
  nav a {
    color: #fff;
    font-size: 0.95rem;
  }

  .promo_list,
  .work_list {
    display: flex;
    /* 자식 요소 너비가 부모 컨테이너의 너비를 초과할때 알아서 넘어가게 해준다 */
    /* no-wrap은 한 줄에 강제로 배치 */
    flex-wrap: wrap;
    /* gap: 1.5rem; */
    justify-content: center;
  }
  .promo_list li,
  .work_list li {
    width: 23%;
  }
  .blog_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .blog_list li {
    width: 30%;
  }
  .sec_tit {
    font-size: 2rem;
  }
}
